#footer {
    background-color: #222;
    padding: 20px 10%;
    height: 70px;
    color: #fff;
    display: inline-block;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.1px;

    word-spacing: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
    .footer_flex{
      display: flex;
    }
    .footer_flex_beian{display: flex;align-items: center;};
    a {color: #fff; margin-right: 10px;};
    f.ooter_flex_beian :hover{
      color: rgb(179, 179, 179);

    }
    @media screen and (max-width:1000px) {

      .footer_flex {
        display: block;
       }
     }
  }